
body{
    width: 100% ;
    margin: auto;
    background: linear-gradient(to right, #57a2d4, #6DD5FA, #FFFFFF);
}

h1{
    text-align: center;
    color:#0d6efd;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}

#intro{
    font-weight: bold;
    color:#0d6efd;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    text-shadow: 1px 1px 1px black;
}

p{
    text-align :left
}

#login{
    display: flex;
    width: 40%;
}

#error{
    color: red;

}

.card{
    width: 40% !important;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.card-body{
    margin :0 !important;
}

.write-article{
    text-align: center;
}

h5 {
    text-align: center;

}

.card-text{
    text-align: center;
}

#connect{
    display: flex;
    flex-direction: column;
}

.color-navBar a {
    color: #0d6efd !important;
    text-shadow: 1px 1px 1px black;
}







@media (max-width: 1150px){
    .card{
        width: 100% !important;
    }

}



