body{
    width: 100% ;
    margin: auto;
}

h1{
    text-align: center;
}

p{
    text-align :left
}

#login{
    display: flex;
    width: 40%;
}

#error{
    color: red;
    font-weight: bold;
}

.card{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.write-article{
    text-align: center;
}

h5 {
    text-align: center;

}

.card{
    width: 40%;
}

.card-text{
    text-align: center;
}

#connect{
    display: flex;
    flex-direction: column;
}


@media (max-width: 850px){
    .card{
        width: 100%;
    }

}



